<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Debug builds only: allow adb/e2e tests to open the component gallery
         directly. Release builds keep the activity non-exported. -->
    <application>
        <activity android:name=".WorkbenchPreviewActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TheokitShowcaseActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
