<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAgentClient"
        android:usesCleartextTraffic="${usesCleartextTraffic}">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainNavActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ConnectionSettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainNavActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ProjectDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainNavActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ConversationActivity"
            android:exported="false"
            android:parentActivityName=".ProjectDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".DiffActivity"
            android:exported="false"
            android:parentActivityName=".ProjectDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".BuildLogActivity"
            android:exported="false"
            android:parentActivityName=".ConversationActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ApkActivity"
            android:exported="false"
            android:parentActivityName=".ProjectDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".FileBrowserActivity"
            android:exported="false"
            android:parentActivityName=".ProjectDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
